<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        {% include 'website/nav.html' %}
        <div class="aboutsec">
            <div  id="heading">
                <div class="container">
            <h2>About us</h2>
            <p>Far far away, behind the word mountains, far from the countries vokalia.</p>
            </div>
            </div>
         </div>
          <div class="container" id="aboutSec">
        <div class="right-wrapper">
            <img src="../../static/image/bannar.png" alt="">
        </div>
        <div class="left-wrapper">
            <h3>We care your pet</h3>
            <h4>As you care</h4>
            <p>Lorem ipsum dolor sit , consectetur adipiscing elit, sed do
                iusmod tempor incididunt ut labore et dolore magna aliqua.
                Quis ipsum suspendisse ultrices gravida. Risus commodo
                viverra maecenas accumsan.</p>
            <a href="" class="btn">About us</a>
        </div>
    </div>
      <div class="container" id="AdoptSec">
        <div class="right-wrapper">
            <h4>We need your help Adopt Us</h4>
            <p>Lorem ipsum dolor sit , consectetur adipiscing elit, sed do
                iusmod tempor incididunt ut labore et dolore magna aliqua.
                Quis ipsum suspendisse ultrices gravida. Risus commodo
                viverra maecenas accumsan.</p>
            <a href="" class="btn">contact us</a>

        </div>
        <div class="left-wrapper">
            <div class="col">
                <div class="cardbox">
                    <h4>52+</h4>
                    <h6>Pets Available</h6>
                </div>
            </div>
            <div class="row">
                <div class="card">
                    <h4>452
Pets Available</h4>
                </div>
                <div class="card">
                    <h4>52+
Pets Available</h4>
                </div>
            </div>
        </div>
    </div>
         {% include 'website/footer.html' %}

</body>
</html>