<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    
    <footer>
        <div class="container" id="footer">
            <div class="col">
                <h2>Pet Care</h2>
            </div>
            <div class="col">
                <span>Our links</span>
               <ul>
              <li>
               
         
                <a href="">Home</a>
              </li>
               <li>
               
                  <Link >About</Link>
              </li>
               <li>
              
                   <Link>Services</Link>
                </li>
                 <li>
                <a >Contact</a>
              </li>
             
            </ul>
            </div>
           <div class="col">
                <span>Our links</span>
               <ul>
              <li>
               
         
                <a href="">Home</a>
              </li>
               <li>
               
                  <Link >About</Link>
              </li>
               <li>
              
                   <Link>Services</Link>
                </li>
                 <li>
                <a >Contact</a>
              </li>
             
            </ul>
            </div>
        </div>
        <p>created by Mahnoor Anwar</p>
    </footer>
      <script src="../../static/js/script.js"></script>
</body>
</html>