<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>

 <div class="forgetPassword">
    <div class="container" id="box">
   <div class="right-wrapper">
    <img src="../../static/image/businessman-is-implementing-security-measures-protect-data_249611-35924.jpg" alt="">
   </div>
   <div class="left-wrapper">
    <h3>Forget password ?</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, ut.</p>
    
<form action="/forgetpasseworded" method="post">
  <div class="row">
                    <input type="text" class="input" name="email" placeholder="Email">
                    <input placeholder="password" type="text" class="input"  name="pass" ></div>
                     <input type="submit"  class="btn" value="Update Password">

</form>
</div>
    </div>
 </div>
</body>
</html>