<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
<div class="loginbox">
    <div class="overlay">
    <div class="signin">
        <h2>Login</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam, incidunt.</p>
        <form action="/loginuser" method="POST">
            <input type="text" placeholder="Email"  name="email" >
            <input type="text" placeholder="Password"  name="password" >
            <input type="submit" value="Login">
        </form>
        <div class="p">
        <a href="/registered" >New user? please make an account</a>
          <a href="/login">Old user? please sign up</a>
          <a href="/forgetPassword">Forget Password ?</a>
          </div>
    </div>
    </div>
</div>
</body>
</html>