<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      {% include 'website/nav.html' %}
    <div class="aboutsec">
        <div id="heading">
            <div class="container">
                <h2>Profile</h2>
                <p>Far far away, behind the word mountains, far from the countries vokalia.</p>
            </div>
        </div>
   
    </div>
    <div class="container" id="Profileform">
        <h2>Update Profile</h2>
         <form action="/userUpdate" method="post">
            <input type="text" value="{{user.name}}" name="name">
            <input type="text" value="{{user.email}}" name="email">
            <input type="text"  value= "{{user.pass}}"name="pass">
            <input type="submit" value="Update Profile" class="btn">
    </div>
{% include 'website/footer.html' %}
</body>
</html>